__pycache__/car_plate.cpython-39.pyc
__pycache__/create_png.cpython-39.pyc
registration_images/B/BJU 772.png
registration_images/E/EPS 768.png
registration_images/F/FFP 940.png
registration_images/F/FRU 883.png
registration_images/G/GPZ 924.png
registration_images/H/HRL 708.png
registration_images/J/JYL 534.png
registration_images/O/OYE 809.png
registration_images/R/RLA 331.png
registration_images/T/TDU 963.png
